.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1200px;
  width: max-content;
  margin: 50px auto;
  border: 1px solid rgba(189, 189, 189, 0.281);
  padding: 50px;
  border-radius: 2%;
  box-shadow: 0 0 20px 5px #65656536;
}

.input-container {
  margin-bottom: 5px;
}

.input-container > label{
  display: flex;
  justify-content: space-between;
  column-gap: 10px;

}

.input-container > label > input{
  width: 80px;
}

.container button {
  padding: 5px 15px;
}
